.videos-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .videos-container h3 {
    font-size: 3rem;
    color: #343a40;
    margin-bottom: 20px;
  }
  
  .videos-container h4 {
    margin-bottom: 50px;
    font-size: 25px;
    color: #343a40;
    text-align: start;
  }
  
  .videos-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  .video-card {
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .video-card:hover {
    transform: translateY(-5px);
  }
  
  .video-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .video-card h3 {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #343a40;
  }
  
  .video-card p {
    margin-top: 5px;
    font-size: 20px;
    color: orange;
  }
  
  span {
    color: #ff6600;
  }
  
 
  
  @media (max-width: 992px) {
    .videos-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    .videos-grid {
      grid-template-columns: 1fr;
    }
  
    .videos-container h3  {
      font-size: 1.5rem;
    }
  
    .video-card {
      padding: 20px;
    }

  }
  
  @media (max-width: 480px) {
    .videos-container h3, .videos-container h4 {
      font-size: 1.2rem;
    }
  
    .video-card h3 {
      font-size: 1rem;
    }
  
    .video-card p {
      font-size: 0.9rem;
    }
  }
  