.practical-container {
  text-align: center;
  margin-top: 20px;
}

.practical-container h3 {
  font-size: 3rem;
  color: #343a40;
}

.practical-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
  margin: 0 auto;
  max-width: 1200px;
}

.practical-card-link {
  text-decoration: none; 
  color: inherit; 
}

.practical-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  width: 100%;
  max-width: 300px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.practical-card:hover {
  transform: translateY(-10px);
  background-color: #f8f8f8;
}

.practical-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.practical-details {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.practical-bodypart, .practical-target {
  font-size: 20px;
  color: #555;
  flex: 1;
  padding: 5px 10px;
  background-color: #e07c38;
  border-radius: 5px;
  margin: 0 5px;
  transition: background-color 0.3s ease;
}

.practical-bodypart:hover, .practical-target:hover {
  background-color: #e0e0e0;
}

.practical-name {
  font-weight: bold;
  font-size: 22px;
  color: #333;
  margin-top: 10px;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.practical-name:hover {
  background-color: #f0f0f0;
}
.search-input {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin: 20px auto;
  margin-bottom: 50px;
  border: 3px solid #e07c38;
  border-radius: 20px;
  font-size: 16px;
  display: block;
}

.pagination button:hover {
  background-color: #ddd;
}

.pagination button.active {
  background-color: #007bff;
  color: white;
}

/* Media Queries */

@media (max-width: 1024px) {
  .practical-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .practical-list {
    grid-template-columns: 1fr;
  }

  .practical-card {
    margin-bottom: 10px;
  }
  .practical-container h3{
    font-size: 2rem; 
  }
}
@media screen and (max-width: 600px) {
  .search-input {
    width: 90%;
    padding: 8px;
    margin: 10px auto;
    font-size: 14px;
    margin-bottom: 50px;
  }
}

@media (max-width: 480px) {
  .practical-card {
    padding: 10px;
  }

  .practical-name {
    font-size: 16px;
  }

  .practical-bodypart, .practical-target {
    font-size: 12px;
  }
  .practical-container h3{
    font-size: 1.5rem; 
  }
}
